<form [formGroup]="form">
  <div class="mb-3">
    <label for="eventName" class="form-label">Event Name</label>
    <input
      type="email"
      class="form-control"
      id="eventName"
      formControlName="name"
    />
    <div class="form-text">This will be the main name of your event</div>
  </div>
  <div class="mb-3">
    <label for="eventDescription">Event Description</label>
    <textarea
      class="form-control"
      id="eventDescription"
      rows="3"
      formControlName="description"
    ></textarea>
    <div class="form-text">
      You can provide a brief description of your event
    </div>
  </div>
  <div class="mb-3">
    <label for="eventDate" class="form-label">Event Date</label>
    <div class="input-group">
      <input
        id="eventDate"
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="eventDate"
        ngbDatepicker
        #d="ngbDatepicker"
        formControlName="date"
      />
      <button
        class="btn btn-outline-secondary bi bi-calendar3"
        (click)="d.toggle()"
        type="button"
      ></button>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-check-label" for="exampleCheck1">Event Time</label>
    <br />

    <input
      [ngxTimepicker]="picker"
      class="form-control"
      formControlName="time"
      [format]="24"
    />
    <ngx-material-timepicker #picker></ngx-material-timepicker>
  </div>
</form>
